@tablet_portrait: ~"(min-width: 768px)";
@tablet_landscape: ~"(min-width: 1024px)";

@phablet_portrait: ~"(min-width: 414px)";
@phablet_landscape: ~"(min-width: 736px)";

@portrait: ~"(orientation: portrait)";
@landscape: ~"(orientation: landscape)";

@import "_font-face";
@import "partials/header";

@import "partials/section";
@import "partials/section--feteharriett";
@import "partials/section--event";
@import "partials/section--details";
@import "partials/section--hostedby";
@import "partials/section--about";
@import "partials/section--tickets";
@import "partials/section--location";
@import "partials/section--donors";
@import "partials/section--contact";
@import "partials/section--auction";
@import "partials/section--credits";

.slimScrollDiv {
  -webkit-overflow-scrolling: touch;
}

@tan: ~"#F2E5CA";
@black: ~"#000000";
@white: ~"#FFFFFF";

html {
  font-family: TradeGothic;
  font-size: 14px;
  // @media @tablet_landscape {
  //   font-size: 22px;
  // }
}

body {
  margin: 0 10px;
  text-transform: uppercase;
  display: block;
}


.button {
  display: inline-block;
  min-width: 200px;
  border: 1px solid @black;
  color: @black;
  transition-property: color, background;
  transition-duration: 700ms;
  font-size: 14px;
  padding: 10px 3px;
  box-sizing: border-box;
  align-items: flex-start;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: #f2f0ed;
    background: black;
    transition-duration: 350ms;
  }
  &:focus {
    outline: 0;
  }
}
ul {
  line-height: normal;
  list-style-type: none;
}

footer {
  font-size: 14px;
}

h2 {
  font-weight: normal;
  font-size: 1.57142857142857rem;
}
h3 {
  font-weight: normal;
  font-size: 1.57142857142857rem;
}
