@import "core/_font-face";
@import "core/_settings";
@import "core/_typography";

@import "elements/_buttons";

@import "partials/header";

@import "partials/section";
@import "partials/section--feteharriett";
@import "partials/section--tickets";
@import "partials/section--donors";
@import "partials/section--contact";

.slimScrollDiv {
  -webkit-overflow-scrolling: touch;
}

body {
    margin: 0 10px;
    display: none;
    overflow: visible;
    &.menu-open {
        overflow: hidden !important;
    }
}

ul {
  line-height: normal;
  list-style-type: none;
  padding-left: 0;
}
