@tablet_portrait: ~"(min-width: 768px)";
@tablet_landscape: ~"(min-width: 1024px)";

@phablet_portrait: ~"(min-width: 414px)";
@phablet_landscape: ~"(min-width: 736px)";

@portrait: ~"(orientation: portrait)";
@landscape: ~"(orientation: landscape)";

@tan: ~"#F2E5CA";
@black: ~"#000000";
@white: ~"#FFFFFF";

@import "_font-face";
@import "partials/header";

@import "partials/section";
@import "partials/section--feteharriett";
@import "partials/section--event";
@import "partials/section--about";
@import "partials/section--tickets";
@import "partials/section--location";
@import "partials/section--donors";
@import "partials/section--contact";
@import "partials/section--auction";

.slimScrollDiv {
  -webkit-overflow-scrolling: touch;
}

html {
  font-family: TradeGothic;
  font-size: 14px;
}

body {
  margin: 0 10px;
  text-transform: uppercase;
  display: block;
}


.button {
  display: inline-block;
  min-width: 200px;
  border: 1px solid @black;
  color: @black;
  transition-property: color, background;
  transition-duration: 700ms;
  font-size: 14px;
  padding: 10px 3px;
  box-sizing: border-box;
  align-items: flex-start;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: #f2f0ed;
    background: @black;
    transition-duration: 350ms;
  }
  &:focus {
    outline: 0;
  }
}

ul {
  line-height: normal;
  list-style-type: none;
  padding-left: 0;
}

h2 {
  font-weight: normal;
  font-size: 1.57142857142857rem;
}

h3 {
  font-weight: normal;
  font-size: 1.57142857142857rem;
  margin: 3em 0 1em;
}

h4 {
  font-weight: normal;
  font-size: 1.57142857142857rem
}

.fp-controlArrow.fp-next {
  border-width: 14.5px 0 14.5px 10px;
  border-color: transparent transparent transparent #060505;
  @media @tablet_landscape {
    border-width: 28.5px 0 28.5px 20px;
  }
}

.fp-controlArrow.fp-prev {
  display: none;
  border-width: 14.5px 10px 14.5px 0;
  border-color: transparent #060505 transparent transparent;
  @media @tablet_landscape {
    border-width: 28.5px 20px 28.5px 0;
  }
}

.fp-controlArrow {
  margin-top: -14px;
  @media @tablet_landscape {
    margin-top: -28px;
  }
}
