<div class="mobile-header">
    <div class="mobile-header_wrapper">
        <div class="menu"></div>
        <a class="mobile-title" href="#feteharriett">fête harriett</a>
    </div>

    <ul class="nav" id="menu">
        <li data-menuanchor="event">
            <a href="#event">event</a>
        </li>

        <li data-menuanchor="hosts">
            <a href="#event">event</a>
        </li>

        <li data-menuanchor="about">
            <a href="#about">about</a>
        </li>

        <li data-menuanchor="tickets">
            <a href="#tickets">Tickets</a>
        </li>

        <li data-menuanchor="sponsors">
            <a href="#sponsors">Sponsors</a>
        </li>

        <li data-menuanchor="contact">
            <a href="#contact">Contact</a>
        </li>

    </ul>
</div>
<header class="header">
    <a class="title" href="#feteharriett">fête harriett</a>

    <ul class="nav" id="menu">
        <li data-menuanchor="event">
            <a href="#event">event</a>
        </li>

        <li data-menuanchor="hosts">
            <a href="#event">event</a>
        </li>

        <li data-menuanchor="about">
            <a href="#about">about</a>
        </li>

        <li data-menuanchor="tickets">
            <a href="#tickets">Tickets</a>
        </li>

        <li data-menuanchor="sponsors">
            <a href="#sponsors">Sponsors</a>
        </li>

        <li data-menuanchor="contact">
            <a href="#contact">Contact</a>
        </li>

    </ul>
</header>
