<script src="/static/javascript/index.js"></script>

<header>

  <h1><a class="title" href="#fetteharriett">fête harriett</a></h1>

  <ul class="nav" id="menu">
    <li data-menuanchor="info">
      <a href="#info">Info</a>
    </li>
    <li data-menuanchor="mission">
      <a href="#mission">Mission</a>
    </li>
    <li data-menuanchor="hosts">
      <a href="#hosts">Hosts</a>
    </li>
    <li data-menuanchor="tickets">
      <a href="#tickets">Tickets</a>
    </li>
    <li data-menuanchor="location">
      <a href="#location">Location</a>
    </li>
    <li data-menuanchor="contact">
      <a href="#contact">Contact</a>
    </li>
  </ul>

</header>
