<script src="/static/javascript/main.js"></script>

<header>

  <h1><a class="title" href="#fetteharriett">fête harriett</a></h1>

  <ul class="nav" id="main-menu">
    <li data-menuanchor="event">
      <a href="#event">event</a>
    </li>
    <li data-menuanchor="about">
      <a href="#about">about</a>
    </li>
    <li data-menuanchor="tickets">
      <a href="#tickets">tickets</a>
    </li>
    <li data-menuanchor="auction">
      <a href="#auction">auction</a>
    </li>
    <li data-menuanchor="location">
      <a href="#location">Location</a>
    </li>
    <li data-menuanchor="donors">
      <a href="#donors">donors</a>
    </li>
    <li data-menuanchor="contact">
      <a href="#contact">Contact</a>
    </li>
  </ul>

</header>
