<div class="section section--tickets">
  <div class="inner">
    <h2 class="giving-levels">Giving Levels</h2>
    <table class="ticket-table">
      <tr class="clickable-row" data-href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">
        <td class="level">Level 1</td>
        <td class="price">$150</td>
        <td class="description">1 ticket<br/>drink/dance/live music</td>
      </tr>
      <tr class="clickable-row" data-href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">
        <td class="level">Level 2</td>
        <td class="price">$300</td>
        <td class="description">1 vip ticket<br/>vip section, vip eat and drink, vip cocktail hour</td>
      </tr>
      <tr class="clickable-row" data-href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">
        <td class="level">Level 3</td>
        <td class="price">$500</td>
        <td class="description">2 vip tickets<br/>vip section, vip eat and drink, vip cocktail hour</td>
      </tr>
      <tr class="clickable-row" data-href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">
        <td class="level">Level 4</td>
        <td class="price">$1000</td>
        <td class="description">"Harriett Gang Friends" Public Listing on Website and Program<br/>2 VIP tickets, vip section, vip cocktail hour</td>
      </tr>
      <tr class="clickable-row" data-href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">
        <td class="level">Level 5</td>
        <td class="price">$2500</td>
        <td class="description">"Harriett Gang Patrons" Listing on Website and Program<br/>6 VIP tickets, VIP section, VIP cocktail hour</td>
      </tr>
      <tr class="clickable-row" data-href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">
        <td class="level">Level 6</td>
        <td class="price">$5000</td>
        <td class="description">"Harriett Gang Leaders"<br/>10 VIP tickets, vip section, vip cocktail hour</td>
      </tr>
    </table>
    <div class="mobile-tickets">
      <div class="ticket-category">
        <p>Level 1 -- $150</p>
        <p>
          1 ticket
          <br/>
          drink/dance/live music
        </p>
        <a class="purchase-ticket button" href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">Donate</a>
      </div>
      <div class="ticket-category level2">
        <p>Level 2 -- $300</p>
        <p>1 vip ticket = vip section, vip eat and drink, vip cocktail hour</p>
          <a class="purchase-ticket button" href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">Donate</a>
      </div>
      <div class="ticket-category level3">
        <p>Level 3 -- $500</p>
        <p>2 vip tickets = vip section, vip eat and drink, vip cocktail hour</p>
          <a class="purchase-ticket button" href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">Donate</a>
      </div>
      <div class="ticket-category level4">
        <p>Level 4 -- $1000</p>
        <p>"Harriett Gang Friends" Public Listing on Website and Program = 2 VIP tickets, vip section, vip cocktail hour</p>
          <a class="purchase-ticket button" href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">Donate</a>
      </div>
      <div class="ticket-category level5">
        <p>Level 5 -- $2500</p>
        <p>"Harriett Gang Patrons" Listing on Website and Program = 6 VIP tickets, VIP section, VIP cocktail hour</p>
          <a class="purchase-ticket button" href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">Donate</a>
      </div>
      <div class="ticket-category level6">
        <p>Level 6 -- $5000</p>
        <p>"Harriett Gang Leaders" = 10 VIP tickets, vip section, vip cocktail hour</p>
          <a class="purchase-ticket button" href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">Donate</a>
      </div>
    </div>
  </div>
</div>
