<div class="section section--donors">
    <div class="inner">
        <h4>Sponsors</h4>
        <div class="sponsors">
            <div class="sponsor-icon">
                <img src="/static/images/sponsors/roandco.svg">
            </div>
            <div class="sponsor-icon">
                <img src="/static/images/sponsors/yola.svg">
            </div>
            <div class="sponsor-icon">
                <img src="/static/images/sponsors/human.svg">
            </div>
            <div class="sponsor-icon">
                <img src="/static/images/sponsors/buhai.svg">
            </div>
            <div class="sponsor-icon">
                <img class="bbla" src="/static/images/sponsors/bbla.png">
            </div>
            <div class="sponsor-icon">
                <img class="msevent" src="/static/images/sponsors/msevent.svg">
            </div>
            <div class="sponsor-icon">
                <img class="proof-bakery" src="/static/images/sponsors/proof-bakery.png">
            </div>
        </div>
    </div>
</div>
