<div class="section section--contact fp-auto-height">
    <div class="inner">
        <div class="button-grid content-margin-small">
            <a href="{{ cms.general.facebook_url }}" class="button">Facebook</a>
            <a href="{{ cms.general.instagram_url }}" class="button">Instagram</a>
            <a href="{{ cms.general.twitter_url }}" class="button">Twitter</a>
        </div>
        <div class="contact-content">
            <h3>{{ cms.general.event_date }}</h3>
            <h3>{{ cms.general.event_time }}</h3>
            {% for line in cms.general.address %}
                <h3>{{ line.address_line }}</h3>
            {% endfor %}
        </div>
        <div>
            <a class="contact-link" href="mailto:{{ cms.general.contact_email }}" target="_top">{{ cms.general.contact_email }}</a>
        </div>
    </div>
</div>
