<div class="section section--event">
  <div class="inner">
    <p class="block-text first">Please join us for a rad evening of women supporting women. The Harriett Buhai Center for Family Law provides women living below the poverty line with the tools they need to navigate the family court system. With the help of volunteers, the Center protects victims of domestic violence and children in poverty by offering free family law assistance and legal education to the poor.</p>
    <p class="block-text">The staff and volunteers at the Center aspire to create a community where poverty is not a barrier to those who seek to resolve critical family law matters and domestic violence in our community no longer exists.</p>
    <p class="block-text">We have brought together a group of strong female hosts from the fashion, art, design, entertainment and legal communities to celebrate and support the work of the Harriet Buhai Center for Family Law. We will dress chic, dance hard and party until midnight, while raising money to support a very worthy cause.</p>

    <div id="info-details">
      <p>June 29th 2016<br/>
        8PM-Midnight<br/>
        VIP Yola Mezcal Cocktail Reception<br/>
        7-8PM</p>
        <p>Austere<br/>
        912 S HILL ST</br/>
        LOS ANGELES | CA 90015</p>
    </div>

    <h3 class="performances-by">Performances by</h3>
    <ul class="special-performance">
      <li>caroline polacheck of chairlift and glasser
    </ul>

    <h3 class="hosted-header">Hosted by</h3>
    <ul class="hosted-by">
      <li>Lena Dunham
      <li>Solange Knowles
      <li>Maryam Nassir Zadeh
      <li>Kate Young
      <li>Maggie Gyllenhaal
      <li>Hailey Gates
      <li>Jenni Kayne
      <li>Irene Neuwirth
      <li>Clare Vivier
      <li>Piera Gelardi
      <li>Sarah Sophie Flicker
      <li>Ed Droste
      <li>Daphne Javitch
      <li>Eleanor Friedberger
      <li>Liz Goldwyn
      <li>Hannah Hoffman
      <li>Bettina Korek
      <li>Sophie Buhai
      <li>Amos Buhai
      <li>Nicole Cari
      <li>Roanne Adams
      <li>Erin Falls
      <li>Crystal Meers
      <li>Elizabeth Parks
      <li>Caitlin Rider
      <li>Anh Do
      <li>Rachael Yaeger
      <li>Gina Correll Aglietti
    </ul>
  </div>
</div>
