<div class="section section--tickets">

    <div class="inner">
        <h3>{{ cms.tickets.name }}</h3>

        {% for level in cms.tickets.giving_level %}
            <div class="giving-level">
                <div class="header">
                    <h3>{{ level.level }}</h3>
                    <h3>{{ level.price }}</h3>
                    <h3>{{ level.level_type }}</h3>
                </div>
                {{ level.description | safe }}
                <a href="{{ level.button_url }}" class="button">{{ level.button_text }}</a>
            </div>
        {% endfor %}

    </div>

</div>
