<div class="section section--donors">
    <div class="inner">
        <h4>Sponsors</h4>
        <div class="sponsors">
            <div class="sponsor-icon">
                <img src="/static/images/sponsors/logo_roandco.svg">
            </div>
            <div class="sponsor-icon">
                <img src="/static/images/sponsors/logo_yola.svg">
            </div>
            <div class="sponsor-icon">
                <img src="/static/images/sponsors/logo_human.svg">
            </div>
            <div class="sponsor-icon">
                <img src="/static/images/sponsors/logo_sophie-buhai.svg">
            </div>
            <div class="sponsor-icon">
                <img class="msevent" src="/static/images/sponsors/logo_msevent.svg">
            </div>
            <div class="sponsor-icon">
                <img class="proof-bakery" src="/static/images/sponsors/logo_proof-bakery.png">
            </div>
            <div class="sponsor-icon">
                <img src="/static/images/sponsors/logo_holiday.svg">
            </div>
            <div class="sponsor-icon">
                <img src="/static/images/sponsors/logo_moon-juice.png">
            </div>
        </div>
    </div>
</div>
