  <div class="section section--hostedby">
    <div class="inner">
      <h4 class="hosted-header">Hosted by</h4>
      <ul class="hosted-by">
        <li>Lena Dunham
        <li>Solange Knowles
        <li>Maryam Nassir Zadeh
        <li>Kate Young
        <li>Maggie Gyllenhaal
        <li>Hailey Gates
        <li>Jenni Kayne
        <li>Irene Neuwirth
        <li>Clare Vivier
        <li>Piera Gelardi
        <li>Sarah Sophie Flicker
        <li>Ed Droste
        <li>Daphne Javitch
        <li>Eleanor Friedberger
        <li>Liz Goldwyn
        <li>Hannah Hoffman
        <li>Bettina Korek
        <li>Sophie Buhai
        <li>Amos Buhai
        <li>Nicole Cari
        <li>Roanne Adams
        <li>Erin Falls
        <li>Crystal Meers
        <li>Elizabeth Parks
        <li>Caitlin Rider
        <li>Anh Do
        <li>Rachael Yaeger
        <li>Gina Correll Aglietti
      </ul>
    </div>
  </div>