<div class="section section--event">
    <div class="inner">
        <div class="content-margin">
            <span>Please join us for an epic evening benefiting <a href="#" class="paragraph">The Harriett Buhai Center for Family Law</a> devoted to defending victims of domestic violence and protecting children living below the poverty line.</span>
        </div>
        <div class="content-margin">
            <p>June 4, 2018</p>
            <p>7pm</p>
            <p>Salazar</p>
            <p>2490 Fletcher Drive</p>
            <p>Los Angeles</p>
        </div>
        <div class="event-btns">
            <a href="#" class="button" target="_blank">Buy Tickets</a>
            <a href="#" class="button" target="_blank">Donate</a>
        </div>
    </div>
</div>
