<div class="section section--about">
    <div class="inner">

        {% for text in cms.about.body_text %}
        <div class="content-margin">
            <h3>{{ text.header }}</h3>
            {{ text.text | safe }}
        </div>
        {% endfor %}

        <div class="button-grid">
            {% for button in cms.about.buttons %}
                <a href="{{ button.button_url }}" class="button" target="_blank">{{ button.button_text }}</a>
            {% endfor %}
        </div>

    </div>
</div>
