<div class="section section--donors">
  <div class="slide" data-anchor="donor1">
  <div class="inner">
    <p>Donors</p>
      <!-- <ul class="donor-list">
        {% set data = cms.donors %}
        {% for object in data %}
        {{ object.wysiwyg_text|safe }}
        {% endfor %}
      </ul> -->
      <p class="donor-list">
        Shelley Bryan<br>
        Courtney Perkins<br>
        Eddie Osborne<br>
        Alberta Logan<br>
        Cody Nguyen<br>
        Darryl Grant<br>
        Mindy McKenzie<br>
        Jean Abbott<br>
        Van Norris<br>
        Sheila McGuire<br>
        Anita Dennis<br>
        Guillermo Thompson<br>
        George Scott<br>
        Courtney Moreno<br>
        Dexter Lowe<br>
        Doyle Quinn<br>
        Tiffany Sandoval<br>
        Noah Brock<br>
        Albert Ballard<br>
        Ollie Maldonado<br>
        Sheila Washington<br>
        Jody Moody<br>
        Robin Morales<br>
        Jesse Potter
      </p>
    </div>
  </div>
  <div class="slide" data-anchor="donor2">
    <div class="inner">
      <p>Donors</p>
      <p class="donor-list">Eric Valdez<br>
        Gertrude Holmes<br>
        Lorraine Bowman<br>
        Curtis Cook<br>
        Latoya Williamson<br>
        Carole Schneider<br>
        Donna Lynch<br>
        Sidney Tran<br>
        Sergio Flowers<br>
        Alvin Willis<br>
        Walter Perkins<br>
        Ben Vargas<br>
        Marcia Ingram<br>
        Dominick Warren<br>
        Marcus Santiago<br>
        Sean Burgess<br>
        Tina Schneider<br>
        Bernard Crawford<br>
        Shawn Hill<br>
        Antonio Shelton<br>
        Gilbert Ellis<br>
        Deanna Nguyen<br>
        Kathleen Cummings<br>
        Gwendolyn Dixon
      </p>
    </div>
  </div>
  <div class="slide" data-anchor="donor3">
    <div class="inner">
      <p>Donors</p>
      <p class="donor-list">
        Conrad Miles<br>
        Patti Moody<br>
        Derek Howell<br>
        Otis Dean<br>
        Forrest Burgess<br>
        Joy Scott<br>
        Ken Armstrong<br>
        Rene Padilla<br>
        Susan Romero<br>
        Elsa Lawrence<br>
        Elaine Ross<br>
        Laura Ingram
      </p>
  </div>
</div>
</div>
