<div class="section section--contact fp-auto-height">
    <div class="inner">
        <div class="social-btns">
            <a href="#" class="button">Facebook</a>
            <a href="#" class="button">Instagram</a>
            <a href="#" class="button">Twitter</a>
        </div>
        <div class="contact-content">
            <h3 class="address desktop reduced-margin">June 4, 2018 | 7 PM | Salazar | 2490 Fletcher Drive | Los Angeles</h3>
            <div class="address mobile reduced-margin">
                <h3>June 4, 2018</h3>
                <h3>7pm</h3>
                <h3>Salazar</h3>
                <h3>2490 Fletcher Drive</h3>
                <h3>Los Angeles</h3>
            </div>
            <a class="contact-link" href="mailto:feteharriett@yahoo.com" target="_top">feteharriett@yahoo.com</a>
        </div>
    </div>
</div>
