<div class="section section--details">
  <div class="inner">
    <div id="info-details">
      <p class="reg-text">June 29th 2016</p>
      <p class="reg-text">8PM-Midnight</p>
      <p class="reg-text">VIP Yola Mezcal Cocktail Reception</p>
      <p class="reg-text">7-8PM</p>
      <p class="space-text">Austere</p>
      <p class="reg-text">912 S HILL ST</p>
      <p class="reg-text">LOS ANGELES | CA 90015</p>
    </div>
    <h4 class="performances-by">Performances by</h4>
    <ul class="special-performance">
      <li>caroline polacheck of chairlift and glasser
    </ul>
  </div>
</div>