<div class="section section--credits">
  <div class="inner">
    <p>Planning Committee</p>
    <div class="planning-list">
      Nicole Cari<br>
      Anh Do<br>
      Elizabeth Parks Kibbey<br>
      Erin Falls<br>
      Carlye Packer<br>
      Caitlin Rider<br>
      Gina Correll Anglietti<br>
      Sophie Buhai<br>
      Amos Buhai<br>
      Emily Nordwind
    </div>
    <div class="sponsors">
      <h4 class="sponsored-by">a special thanks to</h4>
      <img class="refinery29" src="/static/images/sponsors/Refinery29.svg">
      <h4 class="sponsored-by2">for their generous support</h4>
      <img class="buhai" src="/static/images/sponsors/buhai.svg">
      <img class="austere" src="/static/images/sponsors/austere.svg">
      <img class="roandco" src="/static/images/sponsors/roandco.svg">
      <img class="human" src="/static/images/sponsors/human.svg"><br/>
      <img class="yola" src="/static/images/sponsors/yola.svg">
      <img class="tsingtao" src="/static/images/sponsors/tsingtao.svg">
      <img class="proof-bakery" src="/static/images/sponsors/proof-bakery.png">
      <img class="material-vodka" src="/static/images/sponsors/material-vodka.svg">
      <img class="michaelstars" src="/static/images/sponsors/michaelstars.svg">
    </div>
  </div>
</div>
