<div class="section section--about">
  <div class="inner">
    <div class="mission">
      <p>Mission</p>
      <p class="summary-text">We protect victims of domestic violence and improve the well-being of children living in poverty. With the help of volunteers, the Center provides free family law assistance and legal education to the poor. We strive to empower people in need and assure them meaningful access to the courts.</p>
    </div>
    <div class="vision">
      <p>Vision</p>
      <p class="summary-text">We aspire to create a community where poverty is not a barrier to those who seek to resolve critical family law matters.</p>
    </div>
    <a class="button" href="//www.hbcfl.org" target="_blank">hbcfl.org</a>
  </div>
</div>
