@font-face {
  font-family: 'TradeGothic';
  src: url('/static/fonts/trade_gothic.eot');
  src: url('/static/fonts/trade_gothic.eot?#iefix') format('embedded-opentype'), url('/static/fonts/trade_gothic.woff2') format('woff2'), url('/static/fonts/trade_gothic.woff') format('woff'), url('/static/fonts/trade_gothic.ttf') format('truetype'), url('/static/fonts/trade_gothic.svg#tradegothicbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
header {
  padding-left: 30px;
  position: absolute;
  transition: color 0.7s;
  z-index: 5;
  display: flex;
}
@media (orientation: landscape) {
  header {
    flex-direction: column;
  }
}
@media (orientation: portrait) {
  header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    top: 100%;
    left: 0;
    width: 100vh;
    height: 45px;
    position: fixed;
    transform-origin: left top;
    transform: rotate(-90deg);
  }
}
header h1 {
  font-size: inherit;
  display: inline-block;
}
@media (orientation: portrait) {
  header h1 {
    display: inline-block;
    margin: 0;
    order: 1;
  }
}
@media (orientation: landscape) {
  header h1 {
    display: block;
  }
}
header a {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 0.38em;
  transition: color 0.7s;
}
header a:hover {
  text-decoration: underline;
}
nav {
  line-height: 36px;
}
ul {
  list-style-type: none;
}
.nav {
  font-size: 14px;
  padding-left: 0;
}
@media (orientation: portrait) {
  .nav {
    display: inline-block;
    margin: 0;
  }
}
.nav li.active a {
  text-decoration: underline;
}
@media (orientation: portrait) {
  .nav li {
    display: inline-block;
  }
}
/* GENERAL */
body {
  background-color: #f2e5ca;
  margin: 0 10px;
  text-transform: uppercase;
  font-family: TradeGothic;
  display: block;
  font-size: 22px;
  transition: opacity 750ms;
}
body.loading {
  opacity: 0;
}
.button,
button {
  display: inline-block;
  font-family: TradeGothic;
  min-width: 200px;
  border: 1px black solid;
  transition-property: color, background, border-color;
  transition-duration: 700ms;
  font-size: 14px;
  padding: 10px 3px;
  box-sizing: border-box;
  align-items: flex-start;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover,
button:hover {
  color: #f2f0ed;
  background: black;
  border: 1px #f2f0ed solid;
  transition-duration: 350ms;
}
.button:focus,
button:focus {
  outline: 0;
}
#ticket-button {
  margin-top: 50px;
  border: 1px white solid;
  color: #f2f0ed;
  background: black;
}
#ticket-button:hover {
  color: black;
  background: #f2f0ed;
}
.hosts-info {
  width: 320px;
  margin: 1em auto;
}
.hosted-by {
  column-width: 320px;
  margin: 1em auto;
  padding-left: 0;
}
.special-performance {
  padding: 0;
}
#info-details {
  padding: 0;
}
#ticket-details {
  padding: 0;
}
/* FULLPAGE STUFF */
.section {
  font-size: 22px;
  text-align: center;
  padding: 0 10px 0 45px;
}
@media (orientation: portrait) {
  .section {
    padding: 0 10px 0 45px;
  }
}
@media (orientation: landscape) {
  .section {
    padding-left: 150px;
  }
}
/* SPLASH PAGE */
.art-splash {
  z-index: 4;
  position: relative;
  margin: auto;
}
@media (orientation: landscape) {
  .art-splash {
    width: 40%;
  }
}
.art-logo-fete {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-38%, -71%);
  height: 50%;
  z-index: 1;
}
.art-logo-photo {
  display: block;
  margin: auto;
  width: 100%;
  z-index: 0;
}
.art-logo-harriett {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(29%, 83%);
  height: 50%;
  z-index: 1;
}
/*  HOST SECTION */
.special-performance {
  margin-top: 50px;
}
/* INFO SECTION */
.sponsors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 1em 0;
}
.sponsors img {
  margin: 1em;
}
.sponsors .buhai {
  height: 0.9em;
}
.sponsors .austere {
  height: 1.3em;
}
.sponsors .yola {
  height: 2.3em;
}
.sponsors .roandco {
  height: 0.9em;
}
.sponsors .human {
  height: 0.8em;
}
.sponsors .material-vodka {
  height: 1.5em;
}
/* TICKET SECTION */
.contact,
.tickets {
  background: black;
  color: #f2f0ed;
}
.eventbrite {
  margin-top: 50px;
}
/* LOCATION SECTION */
#map {
  height: 600px;
  margin: 0 27% 75px;
}
#location-details {
  margin: 1em 0;
  justify-content: center;
}
/* CONTACT SECTION */
.contact-content {
  padding: 35px 0;
  text-align: center;
}
#contact-logo {
  width: 200px;
  height: auto;
}
.contact-address {
  margin-top: 20px;
  margin-bottom: 0;
}
.contact-link {
  margin-top: 0;
}
.contact-link a {
  color: white;
  text-decoration: none;
  transition: color 700ms, text-decoration 700ms;
}
.contact-link a:hover {
  color: #f2e5ca;
  text-decoration: underline;
}
.social {
  margin: 0 25px;
}
a.social {
  color: black;
  text-decoration: none;
  transition-property: color, background-color;
  transition-duration: 700ms;
}
a.social:hover {
  background: black;
  color: #f2e5ca;
  transition-duration: 350ms;
}
.contact {
  font-size: 14px;
}
/* MOBILE STYLING */
@media screen and (min-width: 375px) and (max-width: 767px) and (orientation: portrait) {
  iframe {
    height: 400px;
    width: 60vw;
  }
  button {
    margin-bottom: 10px;
  }
  .art-logo-fete {
    margin: 0 0 0 0;
    width: 50vw;
  }
  .art-logo-harriett {
    width: 75vw;
  }
  .contact-content {
    padding: 10px 0;
  }
  .stacked-logo {
    width: 50vw;
  }
  #location-details {
    padding: 10px 0 0 0;
  }
  .social {
    margin-bottom: 10px;
  }
  #contact-logo {
    width: 100px;
  }
  .location {
    padding-bottom: 25px;
  }
}
@media (orientation: landscape) {
  .sponsors {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .sponsors img {
    margin: 0 0 30px 0;
  }
  iframe {
    width: 75%;
  }
  #location-details {
    display: flex;
  }
  .contact-address,
  .contact-link {
    font-size: 14px;
  }
  #contact-logo {
    width: 100px;
    height: auto;
  }
  .contact-content {
    padding: 0;
  }
}
@media (orientation: portrait) {
  iframe {
    height: 90vw;
    width: 75vw;
  }
  button {
    margin-bottom: 10px;
  }
  .contact-content {
    padding: 25px 0 0 0;
  }
  #location-details {
    padding: 20px 0 0 0;
  }
  .art-logo-fete {
    transform: translate(4%, 10%);
  }
  .art-logo-harriett {
    transform: translate(0, -14%);
  }
  .art-logo-photo {
    width: 74vw;
  }
  .stacked-logo {
    width: 50vw;
  }
  .social {
    margin-bottom: 10px;
  }
  #contact-logo {
    width: 50px;
  }
  .sponsors {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .sponsors img {
    margin: 0 0 30px 0;
  }
}
