/* GENERAL */
@font-face {
  font-family: 'TradeGothic';
  src: url('/static/fonts/trade_gothic.eot');
  src: url('/static/fonts/trade_gothic.eot?#iefix') format('embedded-opentype'), url('/static/fonts/trade_gothic.woff2') format('woff2'), url('/static/fonts/trade_gothic.woff') format('woff'), url('/static/fonts/trade_gothic.ttf') format('truetype'), url('/static/fonts/trade_gothic.svg#tradegothicbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #f2e5ca;
  margin: 0 10px;
  text-transform: uppercase;
  font-family: TradeGothic;
  display: block;
  font-size: 22px;
}
.button,
button {
  display: inline-block;
  font-family: TradeGothic;
  min-width: 200px;
  border: 1px black solid;
  transition-property: color, background, border-color;
  transition-duration: 700ms;
  font-size: 14px;
  padding: 10px 3px;
  box-sizing: border-box;
  align-items: flex-start;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
}
button:focus {
  outline: 0;
}
.button:hover,
button:hover {
  color: #f2f0ed;
  background: black;
  border: 1px #f2f0ed solid;
  transition-duration: 350ms;
}
#ticket-button {
  margin-top: 50px;
  border: 1px white solid;
  color: #f2f0ed;
  background: black;
}
#ticket-button:hover {
  color: black;
  background: #f2f0ed;
}
header {
  font-size: 14px !important;
  line-height: 36px;
  z-index: 5;
  position: absolute;
  transition: color 0.7s;
  font-size: 22px;
  width: 20%;
}
header a {
  color: black;
  text-decoration: none;
  display: inline-block;
  transition: color 0.7s;
}
header a:hover {
  text-decoration: underline;
}
nav {
  line-height: 36px;
}
ul {
  list-style-type: none;
}
.hosts {
  padding-top: 75px;
}
.hosts-info {
  padding: 0;
}
.hosted-by {
  padding: 0;
}
.special-performance {
  padding: 0;
}
#info-details {
  padding: 0;
}
#ticket-details {
  padding: 0;
}
/* FULLPAGE STUFF */
.section {
  font-size: 22px;
  text-align: center;
}
/* SPLASH PAGE */
.art-splash {
  z-index: 4;
  position: relative;
  margin: auto;
  width: 40%;
}
.art-logo-fete {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-38%, -71%);
  height: 50%;
  z-index: 1;
}
.art-logo-photo {
  display: block;
  margin: auto;
  width: 100%;
  z-index: 0;
}
.art-logo-harriett {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(29%, 83%);
  height: 50%;
  z-index: 1;
}
/*  HOST SECTION */
.special-performance {
  margin-top: 50px;
}
/* INFO SECTION */
.austere {
  margin-top: 50px;
}
.sponsored-by {
  margin-top: 50px;
}
.desktop-sponsors {
  margin-top: 100px;
  display: block;
}
.desktop-sponsors img {
  width: 90%;
}
.mobile-sponsors {
  display: none;
}
/* TICKET SECTION */
.contact,
.tickets {
  background: black;
  color: #f2f0ed;
}
.eventbrite {
  margin-top: 50px;
}
/* LOCATION SECTION */
#map {
  height: 600px;
  margin: 0 27% 75px;
}
#location-details {
  padding: 50px 0 0 0;
}
/* CONTACT SECTION */
.contact-content {
  padding: 35px 0;
  text-align: center;
}
#contact-logo {
  width: 200px;
  height: auto;
}
.contact-address {
  margin-top: 20px;
  margin-bottom: 0;
}
.contact-link {
  margin-top: 0;
}
.contact-link a {
  color: white !important;
  text-decoration: none !important;
  -webkit-transition: color 0.7s, text-decoration 0.7s;
}
.contact-link a:hover {
  color: #f2e5ca !important;
  text-decoration: underline !important;
}
.social {
  margin: 0 25px;
}
a.social {
  color: black !important;
  text-decoration: none !important;
  transition-property: color, background-color;
  transition-duration: 700ms;
}
a.social:hover {
  background: black;
  color: #f2e5ca !important;
  transition-duration: 350ms;
}
.contact {
  font-size: 14px !important;
}
/* MOBILE STYLING */
@media screen and (min-width: 375px) and (max-width: 767px) and (orientation: portrait) {
  * {
    font-size: 14px;
  }
  iframe {
    height: 400px;
    width: 60vw;
  }
  button {
    margin-bottom: 10px;
  }
  .art-logo-fete {
    margin: 0 0 0 0;
    width: 50vw;
  }
  .art-logo-harriett {
    width: 75vw;
  }
  header {
    width: 100vh;
    height: 45px;
    position: fixed;
    -webkit-transform-origin: left top;
    -webkit-transform: rotate(-90deg) translateX(-100%);
  }
  ul.nav {
    margin: 0 auto;
    height: 100%;
    font-size: 12px !important;
  }
  ul.nav li {
    margin-right: 20px;
    float: right;
    height: 100%;
    line-height: 45px;
  }
  .hosts,
  .info,
  .tickets,
  .location {
    padding: 0 10px 0 45px;
  }
  .contact-content {
    padding: 10px 0;
  }
  .stacked-logo {
    width: 50vw;
  }
  #location-details {
    padding: 10px 0 0 0;
  }
  .art-logo-fete {
    transform: translate(4%, 10%);
  }
  .art-logo-harriett {
    transform: translate(0, -14%);
  }
  .social {
    margin-bottom: 10px !important;
  }
  .art-logo-photo {
    width: 74vw;
  }
  .mobile-sponsors {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .mobile-sponsors img {
    margin: 0 0 30px 0;
  }
  .desktop-sponsors {
    display: none;
  }
  #contact-logo {
    width: 100px;
  }
  .location {
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 800px) and (orientation: landscape) {
  header {
    font-size: 14px;
  }
  .hosts,
  .info,
  .tickets,
  .location {
    padding: 0 0 0 150px;
  }
  .mobile-sponsors {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .mobile-sponsors img {
    margin: 0 0 30px 0;
  }
  .desktop-sponsors {
    display: none;
  }
  iframe {
    width: 75%;
  }
  #location-details {
    display: flex;
  }
  .contact-address,
  .contact-link {
    font-size: 14px;
  }
  #contact-logo {
    width: 100px !important;
    height: auto;
  }
  .contact-content {
    padding: 0;
  }
}
@media screen and (min-width: 200px) and (max-width: 374px) and (orientation: portrait) {
  * {
    font-size: 14px;
  }
  iframe {
    height: 90vw;
    width: 75vw;
  }
  button {
    margin-bottom: 10px;
  }
  header {
    width: 100vh;
    height: 45px;
    position: fixed;
    -webkit-transform-origin: left top;
    -webkit-transform: rotate(-90deg) translateX(-100%);
  }
  ul.nav {
    margin: 0 auto;
    height: 100%;
  }
  ul.nav li {
    margin-right: 20px;
    float: right;
    height: 100%;
    line-height: 45px;
  }
  .hosts,
  .info,
  .tickets,
  .location {
    padding: 0 10px 0 45px;
  }
  .contact-content {
    padding: 25px 0 0 0;
  }
  #location-details {
    padding: 20px 0 0 0;
  }
  .art-logo-fete {
    transform: translate(4%, 10%);
  }
  .art-logo-harriett {
    transform: translate(0, -14%);
  }
  .art-logo-photo {
    width: 74vw;
  }
  .stacked-logo {
    width: 50vw;
  }
  .social {
    margin-bottom: 10px !important;
  }
  #contact-logo {
    width: 50px;
  }
  .mobile-sponsors {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .mobile-sponsors img {
    margin: 0 0 30px 0;
  }
  .desktop-sponsors {
    display: none;
  }
}
