/* GENERAL */
@font-face {
    font-family: 'TradeGothic';
    src: url('/static/fonts/trade_gothic.eot');
    src: url('/static/fonts/trade_gothic.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/trade_gothic.woff2') format('woff2'),
         url('/static/fonts/trade_gothic.woff') format('woff'),
         url('/static/fonts/trade_gothic.ttf') format('truetype'),
         url('/static/fonts/trade_gothic.svg#tradegothicbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #f2f0ed;
  margin: 0 10px;
  text-transform: uppercase;
  font-family: TradeGothic;
  display: block;
}

body .loading {
  display: none;
}

button {
  background: transparent;
  font-family: TradeGothic;
  height: 30px;
  width: 200px;
  border: 1px black solid;
  -webkit-transition: color .7s, background .7s;
}

button:focus {
  outline: 0;
}

button:hover {
  color: #f2f0ed;
  background: black;
  border: 1px #f2f0ed solid;
}

#ticket-button {
  border: 1px #f2f0ed solid;
}

header {
  font-size: 22px;
  line-height: 36px;
  z-index: 5;
  position: absolute;
  transition: color 0.7s;
  font-size: 22px;
  width: 20%;
}

header a {
  color: black;
  text-decoration: none;
  display: inline-block;
  transition: color 0.7s;
}

header a:hover {
  text-decoration: underline;
}

nav {
  line-height: 36px;
}

ul {
  list-style-type: none;
}

.active a {
  text-decoration: underline;
}


/* FULLPAGE STUFF */
.section {
  font-size: 18px;
  text-align: center;
}


/* SPLASH PAGE */
.stacked-logo {
  margin: auto;
  display: block;
  margin-top: 25vh;
}

.art-splash {
  z-index: 4;
  margin-bottom: 50vh;
  width: 50vw;
}

.art-logo-fete {
  z-index: 3;
  position: absolute;
  margin: 0 0 0 25vw;
}

.art-logo-photo {
  margin: 4vh 0 0 35vw;
  position: absolute;
  z-index: -1;
}

.art-logo-harriett {
  z-index: 3;
  position: absolute;

    margin: 30vh 45vw 0;
}


/*  HOST SECTION */
.special-performance {
  margin-top: 50px;
}

/* INFO SECTION */
.sponsored-by {
  margin-top: 50px;
}

/* TICKET SECTION */
.contact,
.tickets {
  background: black;
  color: #f2f0ed;
}

/* LOCATION SECTION */
#map {
  height: 600px;
  margin: 0 27% 75px;
}

#location-details {
  padding: 75px 0 0 0;
}

/* CONTACT SECTION */
.contact-content {
  padding: 75px 0 50px 0;
  text-align: center;
}

#contact-logo {
  width: 200px;
  height: auto;
}

.contact-link a {
  color: white !important;
  text-decoration: none !important;
  -webkit-transition: color .7s, text-decoration .7s;
}

.contact-link a:hover {
  color: #808080 !important;
  text-decoration: underline !important;
}

/* MOBILE STYLING */
@media screen and (min-width: 375px) and (max-width: 800px) and (orientation: portrait) {
  * {
    font-size: 14px;
  }
  iframe {
    height: 400px;
  }
  button {
    margin-bottom: 10px;
  }
  .art-logo-fete {
    margin: 0 0 0 0;
    width: 50vw;
  }
  .art-logo-photo {
    margin: 4vh 0 0 15vw;
    width: 75vw;
  }
  .art-logo-harriett {
    margin: 25vh 0 0 25vw;
    width: 75vw;
  }
  header {
    width:100vh;
    height:45px;
    position:fixed;
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
  }
  ul.nav {
    margin:0 auto;
    height:100%;
  }
  ul.nav li {
    margin-right:20px;
    float:right;
    height:100%;
    line-height:45px;
  }
  .hosts,
  .info,
  .tickets,
  .location {
    padding: 0 10px 0 45px;
  }
  .contact-content {
    padding: 50px 0 25px 0;
  }
  .stacked-logo {
    width: 50vw;
  }
}

@media screen and (min-width: 200px) and (max-width: 374px) and (orientation: portrait) {
  * {
    font-size: 12px;
  }
  iframe {
    height: 50vw;
    width: 50vw;
  }
  button {
    margin-bottom: 10px;
  }
  .art-logo-fete {
    margin: 0 0 0 0;
    width: 50vw;
  }
  .art-logo-photo {
    margin: 4vh 0 0 15vw;
    width: 75vw;
  }
  .art-logo-harriett {
    margin: 25vh 0 0 25vw;
    width: 75vw;
  }
  header {
    width:100vh;
    height:45px;
    position:fixed;
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
  }
  ul.nav {
    margin:0 auto;
    height:100%;
  }
  ul.nav li {
    margin-right:20px;
    float:right;
    height:100%;
    line-height:45px;
  }
  .hosts,
  .info,
  .tickets,
  .location {
    padding: 0 10px 0 45px;
  }
  .contact-content {
    padding: 25px 0 0 0;
  }
  .stacked-logo {
    width: 50vw;
  }
}
