/* GENERAL */
@font-face {
    font-family: TradeGothic;
    src: url(../fonts/trade_gothic.ttf);
}

body {
  background-color: #e6e6e6;
  margin: 10px;
  text-transform: uppercase;
  font-family: TradeGothic;
}

/* HEADER */
header {
  position: fixed;
  width: calc(100vw - 10px);
  font-size: 22px;
  line-spacing: 26pt;
  margin: 20px 0 0 0;
}

.lips {
  float: right;
}

/* LOGO */
.section {
  width: 100vw;
  /*height: 100vw;*/
}

.stacked-logo {
  margin: auto;
  display: block;
}
