/* GENERAL */
@font-face {
    font-family: TradeGothic;
    src: url(../fonts/trade_gothic.ttf);
}

body {
  background-color: #f2f0ed;
  margin: 0 10px;
  text-transform: uppercase;
  font-family: TradeGothic;
}

/* HEADER */
header {
  font-size: 22px;
  line-height: 36px;
  z-index: 5;
  position: absolute;
  transition: color 0.7s;
  font-size: 22px;
  margin-top: 20%;
  width: 100%;
}

header a {
  color: black;
  text-decoration: none;
  display: inline-block;
  transition: color 0.7s;
  /*transition-duration: 0.7s;*/
}

header a:hover {
  text-decoration: underline;
}

nav {
  line-height: 36px;
}

.active a {
  text-decoration: underline;
}

.lips,
.lips-white {
  float: right;
  margin: -80px 25px 0 0;
  transition: opacity 0.7s;
}

.section {
  font-size: 22px;
  text-align: center;
}

.stacked-logo {
  margin: auto;
  display: block;
  padding: 200px 0 0 0;
}

.host-img {
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .stacked-logo {
    width: 100vw;
    padding: 0 0 0 0 !important;
  }
  /*.art-logo-fete {
    z-index: 3;
    width: 250px;
    margin: 25px 0 0 -200px !important;
  }
  .art-logo-harriett {
    width: 300px;
    margin: 300px 0 0 -100px !important;
  }
  .art-logo-photo {
    width: 400px;
    margin: 100px 0 0 -200px !important;
  }*/
  .section {
    font-size: 16px;
    padding: 0 0 0 0 !important;
  }
  .menu {
    display: none;
  }
}

.art-logo-fete {
  z-index: 3;
  position: absolute;
  margin: -50px -429px 0;
}

.art-logo-photo {
  margin: 75px -290px 0;
  position: absolute;
  z-index: -1;
}

.art-logo-harriett {
  z-index: 3;
  position: absolute;
  margin: 350px 0 0 -120px;
}

.host-images {
  z-index: -3;
  padding: 0 25px;
  position: relative;
}

.host-img {
  position: absolute;
}

.sophie {
  margin: 306px 0 0 72px;
  width: 17%;
}

.roanne {
  margin: 416px 0 0 -250px;
  width: 15%;
}

.lykke1 {
  margin: 625px 0 0 300px;
  width: 13%;
}

.lykke2 {
  margin: 725px 0 0 -650px;
  width: 30%;
}

.maggie {
  margin: 25px 0 0 336px;
  width: 10%;
}

.lena {
  margin: 50px 0 0 -500px;
}

.host {
  display: table;
}

.host-container {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  position: absolute;
  top: 0;
  padding: 75px 0 0 0;
}

.hosted-header {
  margin-bottom: 50px;
}

.special-performance {
  margin-top: 50px;
}

.sponsored-by {
  margin-top: 50px;
}

.tickets {
  color: #f2f0ed !important;
  background: black;
}

button {
  background: transparent;
  font-family: TradeGothic;
  height: 30px;
  width: 200px;
  border: 1px black solid;
  padding: 15px 0 0 0;
}

button:focus {
  outline: 0;
}

#info-details,
#ticket-details,
#location-details {
  padding: 75px 0 0 0;
}

.art-splash {
  margin-top: 200px;
  /*opacity: 1;
  transition: opacity 8s;*/
}
