/* GENERAL */
@font-face {
    font-family: TradeGothic;
    src: url(../fonts/trade_gothic.ttf);
}

body {
  background-color: #f2f0ed;
  margin: 0 10px;
  text-transform: uppercase;
  font-family: TradeGothic;
}




/* HEADER */
header {
  font-size: 22px;
  line-height: 36px;
  z-index: 5;
  position: absolute;
  transition: color 0.7s;
  font-size: 22px;
  width: 20%;
}

header a {
  color: black;
  text-decoration: none;
  display: inline-block;
  transition: color 0.7s;
}

header a:hover {
  text-decoration: underline;
}

nav {
  line-height: 36px;
}

.active a {
  text-decoration: underline;
}

.lips {
  transition: opacity 0.7s;
  position: absolute;
  z-index: 20;
  width: 89%;
  margin: 15px 0 0 10%;
  text-align: right;
}

/*.lips img {
  float: right;
}*/

.hidden {
  font-size: 22px;
}


/* FULLPAGE STUFF */
.section {
  font-size: 22px;
  text-align: center;
}




/* SPLASH PAGE */
.stacked-logo {
  margin: auto;
  display: block;
}

.art-splash {
  height: 100vh;
  padding: 25vh 0;
  width: 50vw;
}

.art-logo-fete {
  z-index: 3;
  position: absolute;
  margin: 0 0 0 20vw;
}

.art-logo-photo {
  margin: 4vh 0 0 30vw;
  position: absolute;
  z-index: -1;
}

.art-logo-harriett {
  z-index: 3;
  position: absolute;
  margin: 25vh 0 0 40vh;
}




/*  HOST PAGE */
.host-img {
  z-index: -1;
}

.host-images {
  z-index: -3;
  position: relative;
  width: 90vw;
}

.host-img {
  position: absolute;
}

.sophie {
  margin: 20vh 0 0 8vw;
  width: 17vw;
}

.roanne {
  margin: 25vh 0 0 -12vw;
  width: 13vw;
}

.lykke1 {
  margin: 35vh 0 0 24vw;
  width: 13vw;
}

.lykke2 {
  margin: 45vh 0 0 -29vw;
  width: 30vw;
}

.maggie {
  margin: 0 0 0 33vw;
  width: 8vw;
}

.lena {
  margin: 0 0 0 -30vw;
  width: 10vw;
}

.host {
  display: table;
}

.hosted-header {
  margin-bottom: 50px;
}

.special-performance {
  margin-top: 50px;
}

.sponsored-by {
  margin-top: 50px;
}



/**/

/* MOBILE STYLING*/
/*@media screen and (max-width: 800px) {
  .stacked-logo {
    width: 100vw;
    padding: 0 0 0 0 !important;
  }
  /*.art-logo-fete {
    z-index: 3;
    width: 250px;
    margin: 25px 0 0 -200px !important;
  }
  .art-logo-harriett {
    width: 300px;
    margin: 300px 0 0 -100px !important;
  }
  .art-logo-photo {
    width: 400px;
    margin: 100px 0 0 -200px !important;
  }*/
  /*.section {
    font-size: 14px;
    padding: 0 0 0 0 !important;
  }
  #menu {
    display: none;
  }
  .host-img {
    display: none;
  }
  .lips {
    opacity: 0 !important;
  }
}*/

button {
  background: transparent;
  font-family: TradeGothic;
  height: 30px;
  width: 200px;
  border: 1px black solid;
  padding: 15px 0 0 0;
}

button:focus {
  outline: 0;
}


.contact,
.tickets {
  background: black;
  color: #f2f0ed;
}

.contact-content {
  padding: 75px 0 50px 0;
  text-align: center;
}

#contact-logo {
  fill: white;
  width: 200px;
  height: auto;
}

#lip-reveal {
  fill: black;
  transition: fill 0.7s;
}

#map {
  height: 600px;
  margin: 0 27% 75px;
}

#location-details {
  padding: 75px 0 0 0;
}

.hidden {
  transition: color 0.7s;
}
