/* GENERAL */
@font-face {
    font-family: 'TradeGothic';
    src: url('/static/fonts/trade_gothic.eot');
    src: url('/static/fonts/trade_gothic.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/trade_gothic.woff2') format('woff2'),
         url('/static/fonts/trade_gothic.woff') format('woff'),
         url('/static/fonts/trade_gothic.ttf') format('truetype'),
         url('/static/fonts/trade_gothic.svg#tradegothicbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #f2f0ed;
  margin: 0 10px;
  text-transform: uppercase;
  font-family: TradeGothic;
  display: block;
}

body .loading {
  display: none;
}

button {
  background: transparent;
  font-family: TradeGothic;
  height: 30px;
  width: 200px;
  border: 1px black solid;
}

button:focus {
  outline: 0;
}

header {
  font-size: 22px;
  line-height: 36px;
  z-index: 5;
  position: absolute;
  transition: color 0.7s;
  font-size: 22px;
  width: 20%;
}

header a {
  color: black;
  text-decoration: none;
  display: inline-block;
  transition: color 0.7s;
}

header a:hover {
  text-decoration: underline;
}

nav {
  line-height: 36px;
}

ul {
  list-style-type: none;
}

.active a {
  text-decoration: underline;
}


/* FULLPAGE STUFF */
.section {
  font-size: 22px;
  text-align: center;
}


/* SPLASH PAGE */
.stacked-logo {
  margin: auto;
  display: block;
  margin-top: 25vh;
}

.art-splash {
  padding: 25vh 0;
  width: 50vw;
  z-index: 4;
  margin-bottom: 50vh;
}

.art-logo-fete {
  z-index: 3;
  position: absolute;
  margin: 0 0 0 20vw;
}

.art-logo-photo {
  margin: 4vh 0 0 30vw;
  position: absolute;
  z-index: -1;
}

.art-logo-harriett {
  z-index: 3;
  position: absolute;
  margin: 25vh 0 0 40vw;
}


/*  HOST SECTION */
.special-performance {
  margin-top: 50px;
}

/* INFO SECTION */
.sponsored-by {
  margin-top: 50px;
}

/* TICKET SECTION */
.contact,
.tickets {
  background: black;
  color: #f2f0ed;
}

/* LOCATION SECTION */
#map {
  height: 600px;
  margin: 0 27% 75px;
}

#location-details {
  padding: 75px 0 0 0;
}

/* CONTACT SECTION */
.contact-content {
  padding: 75px 0 50px 0;
  text-align: center;
}

#contact-logo {
  fill: white;
  width: 200px;
  height: auto;
}

/* MOBILE STYLING */
@media screen and (min-width: 200px) and (max-width: 800px) {
  * {
    font-size: 14px;
  }
  iframe {
    height: 400px;
  }
  button {
    margin-bottom: 10px;
  }
  .art-logo-fete {
    margin: 0 0 0 0;
    width: 50vw;
  }
  .art-logo-photo {
    margin: 4vh 0 0 15vw;
    width: 75vw;
  }
  .art-logo-harriett {
    margin: 25vh 0 0 25vw;
    width: 75vw;
  }
}
