/* GENERAL */
@font-face {
    font-family: TradeGothic;
    src: url(../fonts/trade_gothic.ttf);
}

body {
  background-color: #f2f0ed;
  margin: 0 10px;
  text-transform: uppercase;
  font-family: TradeGothic;
}

button {
  background: transparent;
  font-family: TradeGothic;
  height: 30px;
  width: 200px;
  border: 1px black solid;
  padding: 15px 0 0 0;
}

button:focus {
  outline: 0;
}

header {
  font-size: 22px;
  line-height: 36px;
  z-index: 5;
  position: absolute;
  transition: color 0.7s;
  font-size: 22px;
  width: 20%;
}

header a {
  color: black;
  text-decoration: none;
  display: inline-block;
  transition: color 0.7s;
}

header a:hover {
  text-decoration: underline;
}

nav {
  line-height: 36px;
}

.active a {
  text-decoration: underline;
}


/* FULLPAGE STUFF */
.section {
  font-size: 22px;
  text-align: center;
}


/* SPLASH PAGE */
.stacked-logo {
  margin: auto;
  display: block;
  margin-top: 25vh;
}

.art-splash {
  padding: 25vh 0;
  width: 50vw;
  z-index: 4;
  margin-bottom: 50vh;
}

.art-logo-fete {
  z-index: 3;
  position: absolute;
  margin: 0 0 0 20vw;
}

.art-logo-photo {
  margin: 4vh 0 0 30vw;
  position: absolute;
  z-index: -1;
}

.art-logo-harriett {
  z-index: 3;
  position: absolute;
  margin: 25vh 0 0 40vw;
}


/*  HOST PAGE */
.hosted-header {
  margin-bottom: 50px;
}

.special-performance {
  margin-top: 50px;
}

.sponsored-by {
  margin-top: 50px;
}

.contact,
.tickets {
  background: black;
  color: #f2f0ed;
}

.contact-content {
  padding: 75px 0 50px 0;
  text-align: center;
}

#contact-logo {
  fill: white;
  width: 200px;
  height: auto;
}

#lip-reveal {
  fill: black;
  transition: fill 0.7s;
}

#map {
  height: 600px;
  margin: 0 27% 75px;
}

#location-details {
  padding: 75px 0 0 0;
}

@media screen and (min-width: 200px) and (max-width: 800px) {
  * {
    font-size: 14px;
  }
  header {
    display: none;
  }
  iframe {
    height: 400px;
  }
  button {
    margin-bottom: 10px;
  }
  .art-logo-fete {
    margin: 0 0 0 0;
    width: 50vw;
  }
  .art-logo-photo {
    margin: 4vh 0 0 15vw;
    width: 75vw;
  }
  .art-logo-harriett {
    margin: 25vh 0 0 25vw;
    width: 75vw;
  }
}
