{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %}{% endblock %}

{% block content %}

<header>
  <ul class="nav" id="menu">
    <li data-menuanchor="fetteharriett" class="active title">
      <a href="#fetteharriett">fête harriett</a>
    </li>
    <li data-menuanchor="hosts">
      <a href="#hosts">Hosts</a>
    </li>
    <li data-menuanchor="info">
      <a href="#info">Info</a>
    </li>
    <li data-menuanchor="tickets">
      <a href="#tickets">Tickets</a>
    </li>
    <li data-menuanchor="location">
      <a href="#location">Location</a>
    </li>
    <li data-menuanchor="contact">
      <a href="#contact">Contact</a>
    </li>
  </ul>
</header>

<div id="fullpage">
  <div class="section feteharriett">
    <img class="stacked-logo" src="../static/images/logo_stacked.svg">
    <div class="art-splash">
      <img class="art-logo-fete" src="../static/images/fete.svg">
      <img class="art-logo-photo" src="../static/images/header_photo.svg">
      <img class="art-logo-harriett" src="../static/images/harriett.svg">
    </div>
  </div>

  <div class="section hosts">
      <ul class="hosts-info">
        <li>Please join the harriett gang</li>
        <li>for the 1st annual fête harriett</li>
        <li>an evening of music, mezcal, and good</li>
        <li>times in support of the harriett buhai</li>
        <li>center for family law</p>
      </ul>
      <ul class="hosted-by">
        <li class="hosted-header">Hosted by</li>
        <li>lena dunham</li>
        <li>maggie gyllenhaal</li>
        <li>lykke li</li>
        <li>liz goldwyn</li>
        <li>jenni kayne</li>
        <li>maryam nassir zadeh</li>
        <li>kate young</li>
        <li>irene neuwirth</li>
        <li>clare vivier</li>
        <li>sarah sophie flicker</li>
        <li>hailey gates</li>
        <li>van dyke parkes</li>
        <li>ed droste</li>
        <li>eleanor friedberger</li>
        <li>hannah hoffman</li>
        <li>sophie buhai</li>
        <li>amos buhai</li>
        <li>nicole cari</li>
        <li>roanne adams</li>
        <li>erin falls</li>
        <li>elizabeth parks</li>
        <li>crystal meers</li>
        <li>caitlin rider</li>
        <li>rachael yaeger</li>
      </ul>
      <ul class="special-performance">
        <li>with a special performance by</li>
        <li>lykke li</li>
      </ul>
  </div>

  <div class="section info">
    <ul id="info-details">
      <li>june 27, 2016</li>
      <li>7PM–8PM VIP COCKTAIL RECEPTION</li>
      <li>8PM–MIDNIGHT AUSTERE</li>
      <li>912 S HILL ST</li>
      <li>LOS ANGELES | CA 90015</li>
      <li class="sponsored-by">sponsored by</li>
      <div class="sponsors"></div>
      <li class="sponsored-by">food courtesy of</li>
      <li>jon and vinny's</li>
    </ul>
  </div>

  <div class="section tickets">
    <ul id ="ticket-details">
      <li>TICKETS LIMITED – $150 / TICKET</li>
      <li>ALL PROCEEDS TO BENEFIT HARRIETT BUHAI CENTER FOR FAMILY LAW</li>
      <li>SPONSOR LEVELS WITH SPECIAL PERKS!</li>
      <li class="eventbrite">MORE DETAILS AT EVENTBRITE</li>
      <li>WWW.EVENTBRITE.COM/FETEHARRIETT</li>
      <button id="ticket-button">GET TICKETS NOW</button>
    </ul>
  </div>

  <div class="section location">
    <a href="https://www.google.com/maps/dir/''/google+map+austere+dtla/@34.0425631,-118.3270661,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c2c7ca40a69f17:0x70c5fb368604de9!2m2!1d-118.257026!2d34.042583">
    <div style="-webkit-filter: grayscale(100%); filter: grayscale(100%);">
      <iframe width="50%" height="500px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJF5-mQMrHwoAR6U1gaLNfDAc&key=AIzaSyAGVYwB0FzqIlNQv5f86uR61HLGPFWOLxc" allowfullscreen></iframe>
    </div>
  </a>

    <!-- <div id="map"></div> -->

    <div id="location-details">
      <button>FACEBOOK</button>
      <button>TWITTER</button>
      <button>INSTAGRAM</button>
    </div>
  </div>

  <div class="section fp-auto-height contact">
    <div class="contact-content">
      <img id="contact-logo" class="svg social-link" src="../../static/images/logo_stacked_white.svg"/>
      <p class="contact-link">
        <a href="mailto:hello@feteharriett.com" target="_top">hello@feteharriett.com</a>
      </p>
    </div>
  </div>
</div>



  {# If you have at least content page type, we show a list. #}
  {% if cms_types|size !== 0 %}

    <h3>Content types you've created in the CMS so far.</h3>

    <ul>
    {% for type in cms_types %}
      <li><a href="{{ url(type) }}">{{ type.name }}</a></li>
    {% endfor %}
    </ul>

  {% endif %}

{% endblock %}
