{% extends "templates/partials/base.html" %}

{% block title %}{% parent %}{% endblock %}

{% block content %}

{% block header %}
  {% include "templates/partials/header.html" %}
{% endblock %}

<div class="event-date">June 29th 2016</div>

<div id="fullpage">
  <div class="section section--feteharriett">
    <div class="art-splash">
      <img class="art-logo-fete" src="/static/images/fete.svg">
      <img class="art-logo-photo" src="/static/images/header_photo.jpg">
      <img class="art-logo-harriett" src="/static/images/harriett.svg">
    </div>
  </div>

  <div class="section section--event">
    <p class="block-text first">Please join us for a rad evening of women supporting women. The Harriett Buhai Center for Family Law provides women living below the poverty line with the tools they need to navigate the family court system. With the help of volunteers, the Center protects victims of domestic violence and children in poverty by offering free family law assistance and legal education to the poor.</p>
    <p class="block-text">The staff and volunteers at the Center aspire to create a community where poverty is not a barrier to those who seek to resolve critical family law matters and domestic violence in our community no longer exists.</p>
    <p class="block-text">We have brought together a group of strong female hosts from the fashion, art, design, entertainment and legal communities to celebrate and support the work of the Harriet Buhai Center for Family Law. We will dress chic, dance hard and party until midnight, while raising money to support a very worthy cause.</p>
    <div id="info-details">
      <p class="reg-text">June 29th 2016</p>
      <p class="reg-text">8PM-Midnight</p>
      <p class="reg-text">VIP Yola Mezcal Cocktail Reception</p>
      <p class="reg-text">7-8PM</p>
      <p class="space-text">Austere</p>
      <p class="reg-text">912 S HILL ST</p>
      <p class="reg-text">LOS ANGELES | CA 90015</p>
    </div>
    <h4 class="performances-by">Performances by</h4>
    <ul class="special-performance">
      <li>caroline polacheck of chairlift and glasser
    </ul>
    <h4 class="hosted-header">Hosted by</h4>
    <ul class="hosted-by">
      <li>Lena Dunham
      <li>Solange Knowles
      <li>Maryam Nassir Zadeh
      <li>Kate Young
      <li>Maggie Gyllenhaal
      <li>Hailey Gates
      <li>Jenni Kayne
      <li>Irene Neuwirth
      <li>Clare Vivier
      <li>Sarah Sophie Flicker
      <li>Ed Droste
      <li>Daphne Javitch
      <li>Eleanor Friedberger
      <li>Liz Goldwyn
      <li>Hannah Hoffman
      <li>Bettina Korek
      <li>Sophie Buhai
      <li>Amos Buhai
      <li>Nicole Cari
      <li>Roanne Adams
      <li>Erin Falls
      <li>Crystal Meers
      <li>Elizabeth Parks
      <li>Caitlin Rider
      <li>Anh Do
      <li>Rachael Yaeger
      <li>Gina Correll Aglietti
      <li>Piera Gelardi
    </ul>
  </div>



  <div class="section section--about">
    <div class="mission">
      <p>Mission</p>
      <p class="summary-text">We protect victims of domestic violence and improve the well-being of children living in poverty. With the help of volunteers, the Center provides free family law assistance and legal education to the poor. We strive to empower people in need and assure them meaningful access to the courts.</p>
    </div>
    <div class="vision">
      <p>Vision</p>
      <p class="summary-text">We aspire to create a community where poverty is not a barrier to those who seek to resolve critical family law matters.</p>
    </div>
    <a class="hbcfl" href="//www.hbcfl.org" target="_blank">hbcfl.org</a>
  </div>



  <div class="section section--tickets">
    <div class="giving-levels">Giving Levels</div>
    <table class="ticket-table">
      <tr class="clickable-row" data-href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">
        <td class="level">Level 1</td>
        <td class="price">$150</td>
        <td class="description">1 ticket<br/>drink/dance/live music</td>
      </tr>
      <tr class="clickable-row" data-href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">
        <td class="level">Level 2</td>
        <td class="price">$300</td>
        <td class="description">1 vip ticket = vip section, vip eat and drink, vip cocktail hour</td>
      </tr>
      <tr class="clickable-row" data-href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">
        <td class="level">Level 3</td>
        <td class="price">$500</td>
        <td class="description">2 vip tickets = vip section, vip eat and drink, vip cocktail hour</td>
      </tr>
      <tr class="clickable-row" data-href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">
        <td class="level">Level 4</td>
        <td class="price">$1000</td>
        <td class="description">"Harriett Gang Friends" Public Listing on Website and Program = 2 VIP tickets, vip section, vip cocktail hour</td>
      </tr>
      <tr class="clickable-row" data-href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">
        <td class="level">Level 5</td>
        <td class="price">$2500</td>
        <td class="description">"Harriett Gang Patrons" Listing on Website and Program = 6 VIP tickets, VIP section, VIP cocktail hour</td>
      </tr>
      <tr class="clickable-row" data-href="http://www.eventbrite.com/e/fete-harriett-tickets-24754350930" target="_blank">
        <td class="level">Level 6</td>
        <td class="price">$5000</td>
        <td class="description">"Harriett Gang Leaders" = 10 VIP tickets, vip section, vip cocktail hour</td>
      </tr>
    </table>
  </div>



  <div class="section section--auction">
    <p>Visit Fete Harriett's online auction site offering a wide array of art, accessories and much more</p>
    <p>All proceeds to benefit Harriet Buhai Center for Family Law</p>
    <a class="social button" href="https://galabid.com/auction/feteharriett">View Auction</a>
  </div>



  <div class="section section--location">
      <a class="map" href="https://www.google.com/maps/dir/''/austere+dtla/@34.0426492,-118.2920454,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c2c7ca40a69f17:0x70c5fb368604de9!2m2!1d-118.257026!2d34.042583">
        <img src="https://maps.googleapis.com/maps/api/staticmap?size=800x400&scale=2&style=saturation:-100&maptype=roadmap&center=Austere+DTLA,Los+Angeles,CA&zoom=16&markers=size:mid%7Ccolor:0xFCE5CA%7CAustere+DTLA,Los+Angeles,CA&key=AIzaSyAGVYwB0FzqIlNQv5f86uR61HLGPFWOLxc">
      </a>
    <div id="location-details">
      <a class="social button" href="//www.facebook.com/harriettbuhaicenterforfamilylaw" target="_blank">Facebook</a>
      <a class="social button" href="//twitter.com/hbcfl" target="_blank">Twitter</a>
      <a class="social button" href="//www.instagram.com/feteharriett" target="_blank">Instagram</a>
    </div>
  </div>



  <div class="section section--donors">
    <p>Donors</p>
    <ul class="donor-list">
      {% set data = cms.donors %}
      {% for object in data %}
        {{ object.wysiwyg_text|safe }}
      {% endfor %}
    </ul>
    <div class="sponsors">
      <h4 class="sponsored-by">a special thanks to</h4>
      <img class="refinery29" src="/static/images/sponsors/Refinery29.svg">
      <h4 class="sponsored-by2">for their generous support</h4>
      <img class="buhai" src="/static/images/sponsors/buhai.svg">
      <img class="austere" src="/static/images/sponsors/austere.svg">
      <img class="roandco" src="/static/images/sponsors/roandco.svg">
      <img class="human" src="/static/images/sponsors/human.svg"><br/>
      <img class="yola" src="/static/images/sponsors/yola.svg">
      <img class="tsingtao" src="/static/images/sponsors/tsingtao.svg">
      <img class="proof-bakery" src="/static/images/sponsors/proof-bakery.png">
      <img class="material-vodka" src="/static/images/sponsors/material-vodka.svg">
      <img class="michaelstars" src="/static/images/sponsors/michaelstars.svg">
    </div>
  </div>



  <div class="section section--contact fp-auto-height">
    <div class="contact-content">
      <img class="contact-logo" class="svg social-link" src="/static/images/logo_stacked_white.svg">
      <p class="contact-address">june 29th 2016 – austere – 912 s hill st los angeles | ca 90015</p>
      <p class="contact-link"><a href="mailto:gang@feteharriett.com" target="_top">gang@feteharriett.com</a></p>
    </div>
  </div>
</div>

{% endblock %}
