.button {
    display: inline-block;
    min-width: 240px;
    padding: 20px 0;
    border: 1px solid @black;
    color: @black;
    transition-property: color, background;
    transition-duration: 700ms;
    box-sizing: border-box;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    @media @tablet_portrait {
        font-size: 24px;
    }
    &:hover {
        text-decoration: none;
    }
}
