header {
  padding-left: 30px;
  position: fixed;
  transition: color 0.7s;
  z-index: 5;
  display: flex;
  transition: opacity;
  opacity: 0;
  transition: opacity 0.1s;
  &.active {
    opacity: 1;
  }
  @media @landscape {
    flex-direction: column;
  }
  @media screen and (max-width: 799px) {
    // flex-direction: row;
    // justify-content: flex-end;
    // align-items: center;
    // padding-left: 0;
    // top: 100%;
    // left: 0;
    // width: 100vh;
    // height: 45px;
    // padding: 0 2em;
    // box-sizing: border-box;
    // position: fixed;
    // transform-origin: left top;
    // transform: rotate(-90deg);
    display: none;
  }
  .title {
    padding: 0;
  }
  h1 {
    display: inline-block;
    padding-left: 4px;
    @media @portrait {
      display: inline-block;
      margin: 0;
      order: 1;
      font-size: 14px;
      display: none;
    }
    @media @landscape {
      display: block;
      font-size: 22px;
    }
  }
  a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 0.38em;
    transition: color 0.7s;
    &:hover {
      text-decoration: underline;
    }
  }
  .nav {
    font-size: 14px;
    padding-left: 0;
    @media @portrait {
      display: inline-block;
      margin: 0;
    }
    li.active a {
      text-decoration: underline;
    }
    li {
      margin: -10px 0;
      @media @portrait {
        display: inline-block;
      }
    }
  }
}

.mobile-active {
  @media @portrait {
    left: 0px !important;
    display: block !important;
  }
  @media @landscape {
    display: none;
  }
}

.event-date {
  right: 0;
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  transition: color 0.7s;
  z-index: 3;
  font-size: 22px;
  padding: 0.67em 30px 0 0;
  &.active {
    opacity: 1;
  }
}
