header {
  padding-left: 30px;
  position: absolute;
  transition: color 0.7s;
  z-index: 5;
  display: flex;
  @media @landscape {
    flex-direction: column;
  }
  @media @portrait {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    top: 100%;
    left: 0;
    width: 100vh;
    height: 45px;
    position: fixed;
    transform-origin: left top;
    transform: rotate(-90deg);
  }


  h1 {
    font-size: inherit;
    display: inline-block;
    @media @portrait {
      display: inline-block;
      margin: 0;
      order: 1;
    }
    @media @landscape {
      display: block;
    }
  }
  a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 0.38em;
    transition: color 0.7s;
    &:hover {
      text-decoration: underline;
    }
  }
}


nav {
  line-height: 36px;
}

ul {
  list-style-type: none;
}

.nav {
  font-size: 14px;
  padding-left: 0;
  @media @portrait {
    display: inline-block;
    margin: 0;
  }
  li.active a {
    text-decoration: underline;
  }
  li {
    @media @portrait {
      display: inline-block;
    }
  }
}

