.section--tickets {
  .giving-levels {
    text-align: left;
    padding: 0 0 15px 30px;
    margin: auto;
    max-width: 750px;
  }
  table {
    border-top: 1px solid black;
    text-align: left;
  }
  td {
    vertical-align: top;
    padding: 15px 0;
    @media @portrait {
      padding: 35px 0 0 0;
    }
  }
  .level {
    max-width: 100px;
    padding: 15px 50px 40px 10px;
    @media screen and @portrait {
      text-align: center;
      padding: 35px 60px 35px 0;
    }
  }
  .price {
    max-width: 100px;
    text-align: center;
    @media screen and @portrait {
      padding-top: 35px;
    }
  }
  .description {
    max-width: 500px;
    font-size: 18px;
    padding-left: 65px;
    @media screen and @portrait {
      font-size: 16px !important;
    }
  }
  .ticket-table {
    max-width: 750px;
    margin: 0 auto;
    @media screen and @portrait {
      font-size: 16px !important;
    }
  }
  .clickable-row {
    text-align: left;
    background: #f2e5ca;
    color: black;
    transition: color 0.7s, background 0.7s;
  }
  .clickable-row:hover {
    background: black;
    color: #f2e5ca;
    cursor: pointer;
  }
}
