.section--contact {
  background: black;
  color: #f2f0ed;
  font-size: 14px;
  text-align: center;
  .contact-logo {
    width: 200px;
    height: auto;
    @media @portrait {
      width: 100px;
    }
  }
  .contact-address {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .contact-link {
    margin-top: 0;
    a {
      color: white;
      border-bottom: 2px solid transparent;
      text-decoration: none;
      transition: color 700ms, border-bottom 700ms;
    }
    a:hover {
      color: #f2e5ca;
      border-bottom: 2px solid #f2e5ca;
    }
  }
}
