#ticket-button {
  margin-top: 50px;
  border: 1px white solid;
  color: #f2f0ed;
  background: black;
  &:hover {
    color: black;
    background: #f2f0ed;
  }
}

#ticket-details {
  padding: 0;
}

/* TICKET SECTION */
.section--contact,
.section--tickets {
  background: black;
  color: #f2f0ed;
}

.eventbrite {
  margin-top: 50px;
}
