.section--location {
  iframe {
    @media screen and (min-width: 375px) and (max-width: 767px) and (orientation: portrait) {
      height: 400px;
      width: 60vw;
    }
    @media @portrait {
      height: 90vw;
      width: 75vw;
    }
    @media screen and (min-width: 800px) {
      width: 700px;
      height: 500px;
    }
  }
  #location-details {
    margin: 1em 0;
    justify-content: center;
  }
  .social {
    margin: 0 25px;
  }
  a {
    color: black;
    text-decoration: none;
    transition-property: color, background-color;
    transition-duration: 700ms;
    &:hover {
      background: black;
      color: #f2e5ca;
      transition-duration: 350ms;
    }
  }
}
