.section--donors {
  .inner {
    max-width: 876px;
  }
  .donor-list {
    column-width: 120px;
    @media @tablet_portrait {
      column-width: 186px;
    }
    margin: 1em auto 0;
    max-width: 808px;
    padding-left: 0;
    @media screen and @portrait {
      font-size: 18px;
    }
    padding-left: 0;
    @media screen and @portrait {
      font-size: 18px;
    }
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
