.section--donors {
    .sponsors {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .sponsor-icon {
            width: 50%;
            margin:2rem 0 4rem;
            @media @tablet_portrait {
                width: 25%;
            }
            img {
                max-width:112px;
                max-height:89px;
            }
        }
    }
}
