.red {
    background-color: @red;
    color: @black;
    .button {
        border-color: @black;
        color: @black;
        &:hover {
            background-color: @black;
            color: @red;
        }
    }
}

.dark {
  background-color: @black;
  color: @white;

  .button {
    border-color: @white;
    color: @white;
    &:hover {
      background-color: @white;
      color: @red;
    }
  }
 }

.light {
  background-color: @tan;
  color: @black;

  .button {
    border-color: @black;
    color: @black;
    &:hover {
      background-color: @black;
      color: @white;
    }
  }
}

.section {
    font-size: 22px;
    @media @portrait {
        font-size: 18px;
    }
    text-align: center;
    overflow: hidden;
    &:extend(.light);
    &.section--about,
    &.section--contact,
    &.section--event,
    &.section--feteharriett {
        &:extend(.red);
        .button {
            border-color: @black;
            color: @black;
            &:hover {
                background-color: @black;
                color: @red;
            }
        }
    }
    .inner {
        padding: 4rem 2rem;
        margin: 0 auto;
        max-width: 768px;
        @media @tablet_portrait {
            padding: 6rem 4rem;
        }
    }
}
