#info-details {
  padding: 0;
}

/* INFO SECTION */
.sponsors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 1em auto;
  max-width: 764px;
  img {
    margin: 1em;
  }

  .buhai { height: .9em }
  .austere { height: 1.3em }
  .yola { height: 2.3em }
  .roandco { height: .9em }
  .human { height: .8em }
  .material-vodka { height: 1.5em }
  .proof-bakery { height: 6em }
}


