.section--about {
  background: black;
  color: white;
  .mission {
    @media screen and @portrait {
      font-size: 22px;
    }
    p:first-child {
      margin-top: 0;
    }
  }
  .summary-text {
    max-width: 768px;
    margin: auto;
    @media screen and @portrait {
      font-size: 22px;
    }
  }
  .vision {
    margin: 2em 0;
    @media screen and @portrait {
      font-size: 22px;
    }
  }
  .hbcfl {
    background: black;
    color: white;
    border: 1px solid white;
    transition: background 0.7s, color 0.7s;
    display: inline-block;
    min-width: 200px;
    font-size: 14px;
    padding: 10px 3px;
    box-sizing: border-box;
    align-items: flex-start;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 50px 0;
  }
  .hbcfl:hover {
    background: white;
    color: black;
  }
}
