.section--about {
  background: black;
  color: white;
}

.hbcfl {
  background: black;
  color: white;
  border: 1px solid white;
  transition: background 0.7s, color 0.7s;
  display: inline-block;
  font-family: TradeGothic;
  min-width: 200px;
  font-size: 14px;
  padding: 10px 3px;
  box-sizing: border-box;
  align-items: flex-start;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
}

.hbcfl:hover {
  background: white;
  color: black;
}
