.dark {
  background-color: @black;
  color: @white;

  .button {
    border-color: @white;
    color: @white;
    &:hover {
      background-color: @white;
      color: @black;
    }
  }
 }

.light {
  background-color: @tan;
  color: @black;

  .button {
    border-color: @black;
    color: @black;
    &:hover {
      background-color: @black;
      color: @white;
    }
  }
}

.section {
  font-size: 22px;
  text-align: center;
  overflow: hidden;

  &:nth-child(even) {
    &:extend(.dark);
    .button {
      border-color: @white;
      color: @white;
      &:hover {
        background-color: @white;
        color: @black;
      }
    }
  }

  &:nth-child(odd) {
    &:extend(.light);
  }

  &.section--credits {
    background-color: @tan;
    color: @black;
  }

  &.section--contact {
    background-color: @black;
    color: @white;
  }


  .inner {
    margin: 2rem auto;
    max-width: 768px;
    padding: 0 28px;
  }
}
