.section--auction {
  .inner {
    margin: 8rem auto;
  }
  @media screen and @portrait {
    font-size: 22px;
  }
  .auction1 {
    @media @landscape {
      padding: 0 50px;
    }
  }
  // a {
  //   color: @black;
  //   text-decoration: none;
  //   transition-property: color, background-color;
  //   transition-duration: 700ms;
  //   &:hover {
  //     background: @black;
  //     color: @tan;
  //     transition-duration: 350ms;
  //   }
  // }
}
