/* LOCATION SECTION */
#map {
  height: 600px;
  margin: 0 27% 75px;
}

#location-details {
  margin: 1em 0;
  justify-content: center;
}

iframe {

  @media screen and (min-width: 375px) and (max-width: 767px) and (orientation: portrait) {
    height: 400px;
    width: 60vw;
  }

  @media @portrait {
    height: 90vw;
    width: 75vw;
  }

  @media screen and (min-width: 800px) {
    width: 700px;
    height: 500px;
  }
}

.social {
  margin-bottom: 6px;
}
