.section--event .event-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media @tablet_portrait {
        flex-direction: row;
    }
    .button {
        margin: 0 0 2rem;
        &:last-of-type {
            margin: 0;
        }
        @media @tablet_portrait {
            margin: 0 2rem 0 0;
        }
    }
}
