#info-details {
  padding: 2em 0 0 0;
}

.reg-text {
  margin: 0 auto;
}

.space-text {
  margin: 1em 0 0 0;
}

.mission {
  margin-top: 100px;
}

.vision {
  margin-top: 50px;
}

.about {
  margin-top: 50px;
}

.summary-text {
  max-width: 768px;
  margin: auto;
}

.hbcfl {
  margin-top: 50px;
}
