.section--feteharriett {
    .art-splash {
        z-index: 4;
        position: relative;
        margin: auto;
        @media @landscape {
            width: 44vw;
        }
        @media screen and @portrait {
            width: 50vw;
        }
        .logo-fh {
            background:url('/static/images/logo-feteharriett.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            height: 7rem;
            @media @phablet_portrait {
                height: 22rem;
            }
        }
  }
  // .art-logo-fete {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   transform: translate(-38%, -71%);
  //   height: 50%;
  //   z-index: 1;
  // }
  // .art-logo-photo {
  //   display: block;
  //   margin: auto;
  //   width: 100%;
  //   z-index: 0;
  // }
  // .art-logo-harriett {
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   transform: translate(29%, 83%);
  //   height: 50%;
  //   z-index: 1;
  // }
}
